/* Universal Styles */

html {
  font-size: 16px;
  font-family: sans-serif;
}

.sitecontainer {
  display: flex;
  flex-flow: column nowrap;
}

/* begin header styling */

header {
  width: 100%;
  height: 4rem;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header .title {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

header nav {
  font-size: 1.2rem;
}

header nav ul li {
  padding: .5rem;
}

/*changes Academy color*/
header .title span:last-child  {
  color: #D7D7D7;
}

header .title span {
  text-transform: uppercase;
}

header .title img{
  margin-left: 1.5rem;
}

header nav ul li {
  display: inline;
}

/*Headline and button stylings*/
h2  {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size:2rem;
}

h5 {
  font-size: 1.5rem;
}

.btn {
  border-radius: 1px;
  width: 75%;
  background-color: #4b4b4b;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 1.2rem;
}

/*begin body styling*/

/*Section 1 */
.dualcontainer {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
}

.dualcontainer1 {
  background-color: #D7D7D7;
}

.dualcontainer .col1 {
  width: 60%;
  padding: 2rem 1.5rem;
}

.dualcontainer .col2 {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.dualcontainer1 {
  display: flex;
}

.dualcontainer .col2 h2 {
  margin-bottom: 1.75rem;
}

.dualcontainer .col2 h4 {
  margin-bottom: 1.75rem;
}

.dualcontainer .col1 img {
  max-width: 100%;
  max-height: 100%;
}

/*Section 2 */

.dualcontainer .col1 .media {
  margin-bottom: 32px;
}

.dualcontainer .col1 .quote {
  margin-top: 24px;
}

.dualcontainer .col1 .quote p {
  margin-bottom: 24px;
}

.dualcontainer .col2 .snip {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/*created 1px border for 2nd section of body */
.dualcontainer2 {
  display: flex;
}

.dualcontainer2 .col2 {
  border: 1px #D7D7D7 solid;
}

.dualcontainer2 .col2 .snip {
  border: 1px #D7D7D7 solid;
}

.dualcontainer .col2 .snip .snippic img {
  max-width: 100%;
  margin: 1rem;
}

.dualcontainer .col2 .snip .snippic {
  width: 35%;
}

.dualcontainer .col2 .snip .sniptext {
  width: 65%;
  padding-left: 2rem;
}

.dualcontainer .col2 .snip3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  background-color: #D7D7D7;
}
