/* Universal Styles */

/* latin-ext */

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Barlow Semi Condensed Italic'), local('BarlowSemiCondensed-Italic'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/rObwC0zkSDuhDJaXoDJAlTkAScVmGMyNkdGsXCHahE_2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Barlow Semi Condensed Italic'), local('BarlowSemiCondensed-Italic'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/rObwC0zkSDuhDJaXoDJAlVttN7NAm-UbZA3d6BJ7elc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/Ok4yyskPwFvZPrXlQ7v9050M7CckEjtJ2VMldUDu5nQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/Ok4yyskPwFvZPrXlQ7v908BvcTyoFVl2hWxSOgahpEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Barlow Semi Condensed SemiBold'), local('BarlowSemiCondensed-SemiBold'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/ZyxfuHr9OuBXRZHPDKRFf-8IT5agCxjisB1Fr0Ls3yIU24FapfJwyacJ6xNu5rm9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Barlow Semi Condensed SemiBold'), local('BarlowSemiCondensed-SemiBold'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v1/ZyxfuHr9OuBXRZHPDKRFf7pQX8I2DyXG4uHm2BpGsSH3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #757575;
}

a {
  text-decoration: none;
}

.sitecontainer {
  display: flex;
  flex-flow: column nowrap;
}

/* begin header styling */

header {
  width: 100%;
  height: 4rem;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header .title {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

header nav {
  font-size: 1.2rem;
}

header nav ul li {
  padding: .5rem;
}

header nav ul li a {
  color: #757575;
}

/*changes Academy color*/
header .title span:last-child {
  color: #D7D7D7;
}

header .title span {
  text-transform: uppercase;
}

header .title img {
  margin-left: 1.5rem;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
}

/*Header Transitions and Animations*/

header a:hover {
  color: #EBE2C2;
  transition: color .2s linear 0s;
}

header a:after {
  color: #87909A;
}

/*Mobile styling nav*/

.mobilenav {
  display: none;
}

@media only screen and (max-width: 470px) {
  .mobilenav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }

  header {
    display: none;
  }

  .mobilenav a:hover {
    transform: scale(1.2);
    transition: all 1s ease 0s;
  }

}

/*Headline and button stylings*/

h2, h3, h4, h5 {
  font-weight: 600;
  color: #4B4B4B;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.3rem;
}

/*mobile styling headlines*/
@media only screen and (max-width: 470px) {

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.1rem;
  }

}

.btn {
  border-radius: 1px;
  width: 75%;
  background-color: #4b4b4b;
  color: #FFFFFF;
  padding: 8px;
  text-align: center;
  font-size: 1.2rem;
}

.btn a {
  text-decoration: none;
  color: #FFFFFF;
}

/*Button transition*/

.btn:hover {
  background-color: #EBE2C2;
  transition: all .5s linear 0s;
}

/*begin body styling*/

/*Section 1 */

.dualcontainer {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
}

.dualcontainer1 {
  background-color: #D7D7D7;
}

.dualcontainer .col1 {
  width: 60%;
  padding: 2rem 1.5rem;
}

.dualcontainer .col2 {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.dualcontainer1 {
  display: flex;
}

.dualcontainer .col2 h2 {
  margin-bottom: 1.75rem;
}

.dualcontainer .col2 h4 {
  margin-bottom: 1.75rem;
}

.dualcontainer .col1 img {
  max-width: 100%;
  max-height: 100%;
}

/*Mobile styling Section 1*/

@media only screen and (max-width: 470px) {

  .dualcontainer, .dualcontainer1, .dualcontainer2, .dualcontainer3 {
    flex-flow: column nowrap;
  }

  .dualcontainer .col1 {
    width: 100%;
    padding: 0;
  }

  .dualcontainer .col2 {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .dualcontainer .col2 h2 {
    margin: 2rem 1rem;
  }

  .dualcontainer .col2 h4 {
    margin: 0 0 1.5rem 1rem;
  }

  .btn {
    background-color: #9A9A9A;
    width: 90%;
    margin-bottom: 2rem;
  }

}

/*Section 2 */

.dualcontainer .col1 .media {
  margin-bottom: 32px;
  max-width: 100%;
}

.dualcontainer .col1 .quote {
  margin-top: 24px;
  font-style: italic;
}

.dualcontainer .col1 .quote p {
  margin-bottom: 24px;
}

.dualcontainer .col1 .quote span {
  color: #4B4B4B;
  font-style: normal;
}

.dualcontainer .col2 .snip {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/*created 1px border for 2nd section of body */

.dualcontainer2 {
  display: flex;
}

.dualcontainer2 .col2 {
  border-left: 1px #D7D7D7 solid;
}

.dualcontainer2 .col2 .snip {
  border: 1px #D7D7D7 solid;
}

.dualcontainer .col2 .snip .mobilepic {
  display: none;
}

.dualcontainer .col2 .snip .snippic img {
  max-width: 100%;
  margin: 1rem;
}

.dualcontainer .col2 .snip .snippic {
  width: 35%;
}

.dualcontainer .col2 .snip .sniptext {
  width: 65%;
  padding-left: 2rem;
}

.dualcontainer .col2 .snipgray {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  background-color: #D7D7D7;
}

.snip p {
  margin-top: .5rem;
  line-height: 1.2rem;
}

.dualcontainer .snip a {
  text-decoration: none;
  color: #6388E1;
}

/*snip transitions*/

.snip:hover {
  transform: scale(1.1);
  transition: all 1s ease 0s;
}

/*Mobile Styling Section 2 */

@media only screen and (max-width: 470px) {

  .dualcontainer2 .col1 {
    display: none;
  }

  .dualcontainer2 .col2 .snip {
    flex-flow: column nowrap;
    border: none;
    align-items: flex-start;
  }

  .dualcontainer2 .col2 .snipgray {
    flex-flow: column nowrap;
    background-color: #FFFFFF;
    border-bottom: 1px #D7D7D7 solid;
    align-items: flex-start;
  }

  .dualcontainer .col2 .snip .mobilepic {
    display: block;
    margin: 1rem;
  }

  .dualcontainer .col2 .snip .mobilepic img {
    max-width: 100%;
  }

  .dualcontainer .col2 .snip .snippic {
    display: none;
  }

  .dualcontainer .snip {
    padding-bottom: 1rem;
  }

  .dualcontainer .snipgray {
    padding-bottom: 2rem;
  }

}

/*Section three */

.tricontainer {
  background-color: #D7D7D7;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.sectiontitle {
  display: flex;
  justify-content: center;
}

.coursecontainer {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 1.85rem;
  justify-content: center;
}

.sectiontitle h3 {
  margin-top: 2rem;
}

.courseblock {
  margin: 1rem 1rem;
  max-width: 28%;
  background-color: #FFFFFF;
}

.courseblock .blockpic img {
  max-width: 100%;
}

.courseblock .blocktext {
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.courseblock .blocktext p {
  margin-top: .5rem;
}

.mobilecourses {
  display: none;
}

/*course transitions*/

.courseblock:hover {
  transform: scale(1.1);
  transition: all 1s ease 0s;
}

/*Mobile Styling Section 3*/
@media only screen and (max-width: 470px) {

.coursecontainer {
  display: none;
}

.sectiontitle {
  background-color: #FFFFFF;
  margin-bottom: 1rem;
}

.tricontainer {
  background-color: #FFFFFF;
}

.tricontainer .mobilecourses {
  display: flex;
  flex-flow: column nowrap;
}

.tricontainer .mobilecourses h5 {
  margin: .5rem;
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: #D7D7D7;
  font-size: 1.3rem;
}

.tricontainer .mobilecourses h5:hover {
  background-color: #EBE2C2;
  transition: all .5s linear 0s;
}

.sectiontitle h3 {
  margin-top: 1rem;
}

}

/*Section four */

.dualcontainer .col1 .media video {
  max-width: 100%;
  max-height: 100%;
}

.dualcontainer3 {
  display: flex;
}

.dualcontainer3 .col2 {
  justify-content: flex-start;
  padding-top: 2rem;
}

/*Mobile Styling Section 4*/
@media only screen and (max-width: 470px) {

  .dualcontainer3 .col1 .text {
    display: none;
  }

  .dualcontainer3 .col2 {
    display: none;
  }

  .sectiontitle2 {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #D7D7D7;
    width: 100%;
    text-align: center;
  }
}

/* Footer styling */

.fullfooter {
  padding: 1rem 1.5rem;
  border-top: 1px solid #D7D7D7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.fullfooter .about a{
  padding: .4rem;
  color: #757575;
  text-decoration: none;
}

/*Footer Transitions and Animations*/

.fullfooter .about a:hover {
  color: #EBE2C2;
  transition: color .2s linear 0s;
}

.fullfooter .about a:after {
  color: #87909A;
}

/*Mobile Styling Footer*/
@media only screen and (max-width: 470px) {
  .about {
    display: none;
  }
}
